.text-input{
    box-sizing: border-box;
    width: 100%;
    padding: 0.6rem 0.5rem;
    border-radius: 0.3rem;
    border: 2px solid var(--grey-color);
    margin-bottom: 0.5rem;
    background-color: var(--background-color);
    color:var(--primary-text-color);
    font-size: 1rem;
}
.input-text-wrapper{
    flex:1;
}
.comment-wrapper{
   background-color: var(--background-color-light);
    padding: 0.5rem 0.2rem;
    margin-top: 1rem;
    color:var(--primary-text-color);
}
.go-back-btn{
    width: fit-content;
    margin-bottom: 2rem;
}