.leftSidebar-container {
  min-height: 88vh;
  max-height: 88vh;
  border-right: 1px solid var(--primary-color);
  position: sticky;
  top: 12vh;
  left: 0;
}
.responsive-create-post{
  width:600px; 
  height: fit-content;
  margin: 0 1rem;
  animation: bounce 1s  1  ease-in-out;
}
@keyframes bounce{
  0%{
    transform: translateY(-200%);
  }
  50%{
    transform: translateY(0%);
  }
  75%{
    transform: translateY(20%);
  }
  100%{
    transform: translateY(0%);
  }
  
}
.leftSidebar-list-items {
  padding: 15% 10%;
}
.leftSidebar-list-item {
  font-size: 1.2rem;
  margin-right: 0.9rem;
  padding: 0.8rem 0.7rem;
  color: var(--primary-text-color);
  text-align: left;
}
.leftSidebar-list-item:hover {
  color: var(--primary-color);
}
.active {
  background-color: var(--primary-text-color);
  color: var(--secondary-text-color);
  padding: 0.4rem 0.7rem;
  border-radius: 0.2rem;
}
.leftSidebar-list-icon {
  margin-right: 1rem;
}
.create-post-btn {
  padding: 0.6rem 1rem;
  margin: auto !important;
  display: block;
  
}
@media only screen and (max-width: 825px) {
  .leftSidebar-container {
    min-height: 82vh;
    max-height: 82vh;
    top: 18vh;
  }
}
@media only screen and (max-width: 750px) {
  .leftSidebar-container {
    min-height: 0;
    border-right: none;
    z-index:200;
  }
  .leftSidebar-list-items {
    display: flex;
    justify-content: space-between;
    padding: 0rem;
    margin: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--background-color-light);
    align-items: center;
  }
  .leftSidebar-list-icon {
    margin-right: 0;
    font-size: 1.5rem;
  }

  .create-post-btn,
  .list-item-label {
    display: none;
  }
}
@media only screen and (max-width:650px){
  .responsive-create-post{
      width: 90vw;
      
  }
}